:root {
    --hsl-black: 0, 0%, 0%;
    --hsl-peach: 11, 80%, 92%;
    --Black: hsl(var(--hsl-black));
    --Peach: hsl(var(--hsl-peach));
    --side-pad: 100px;
}

h1 {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    /* Title */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "IvyPresto Display";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 125% */  
}
h2 {
    color: var(--Black, #000);

    /* Title Med */
    font-family:  "ivypresto-display", serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
}
h3 {
    color: var(--Peach, #D3A79D);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 23px; /* 127.778% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

p {
    color: var(--Black, #000);

    font-family: "poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}
.nav.services {


li {
    cursor: pointer;
    svg {
        height: 10px;
        width: 18px;
    }
}    
li:hover {
    transition: all .3s linear;
    svg {
        transition: all .3s linear;
        transform: rotate(90deg);
    }
}


    li.active {
        transform: rotate(90deg);
    }
}
.container.services {
    p {
        text-decoration-line: underline;
    }
    button {
        color: var(--Black, #000);
        /* Button */
        font-family: "ivypresto-display", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
    }
}
