:root {
    --hsl-black: 0, 0%, 0%;
    --hsl-peach: 11, 80%, 92%;
    --Black: hsl(--hsl-black);
    --Peach: hsl(--hsl-peach);
    --side-pad: 100px;
}
h1 {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    /* Title */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "IvyPresto Display";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 125% */  
}
h2 {
    color: var(--Black, #000);

    /* Title Med */
    font-family:  "ivypresto-display", serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
}
p {
    color: var(--Black, #000);

    font-family: "poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}
p.info {
    text-decoration-line: underline;
}
button {
    color: var(--Black, #000);
    /* Button */
    font-family: "ivypresto-display", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

li::after {
    content: url(arrow.svg);
}